.header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,1) 35%, rgba(0,212,255,1) 100%);
    
}


.cart-logo{
    height: 2rem;

}
.nav-link{
    color: rgb(238, 255, 0);
    font-size: 18px;
}
